.socials {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateX(-40%) rotate(-90deg);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}
@media (max-width: 1200px) {
  .socials {
    display: none;
  }
}

.socials__line {
  width: 70px;
  height: 0px;
  background-color: #000;
  margin: 10px 0;
  border: 2px solid rgb(0, 0, 0);
}

.socials__social-link--instagram:hover svg path {
  fill: var(--brand-color);
}

.socials__social-link--facebook:hover svg path {
  fill: #0866ff;
}

.subtitle {
  position: relative;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  z-index: 0;
}

.icon-bg {
  position: absolute;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: var(--brand-color);
  z-index: -1;
}

.button {
  position: relative;
  background: var(--brand-color);
  border: none;
  padding: 12px 12px;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  cursor: pointer;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  z-index: 1;
  overflow: hidden;
  white-space: nowrap;
}
.button:hover span {
  color: var(--brand-color);
}
.button:hover::before {
  animation: scaleCircle 1s ease forwards;
}
.button:not(:hover) span {
  transition: 0.3s ease 0.5s;
}
.button:not(:hover)::before {
  animation: scaleDownCircle 1s ease forwards;
}

@keyframes scaleCircle {
  from {
    width: 5px;
    height: 5px;
  }
  to {
    width: 300px;
    height: 300px;
  }
}
@keyframes scaleDownCircle {
  from {
    width: 300px;
    height: 300px;
  }
  to {
    width: 5px;
    height: 5px;
  }
}
.button::before {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 500px;
  background: #ffffff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -60px;
  transition: 1s ease forwards;
  z-index: 0;
}
@media (max-width: 1024px) {
  .button::before {
    width: 500px;
    height: 500px;
    left: 10%;
  }
}

.promo {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 800px;
  background-size: 1920px 100%;
  background-position: center center;
  background-repeat: no-repeat;
}

.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -5; 
}

.promo__content {
  width: 1140px;
  margin: auto auto;
  padding: 16px;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  z-index: 0;
}
@media (max-width: 1024px) {
  .promo__content {
    padding: auto 10px;
  }
}

.promo__subtitle {
  margin-left: 10px;
  margin-top: 6px;
}

.promo__title {
  /* Заголовок H1 — можно настроить при необходимости */
}

.promo__row {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 20px;
}

.promo__button {
  /* Наследует от .button, можно использовать для уточнений */
}

.promo__link {
  font-family: Montserrat;
  cursor: pointer;
  text-decoration: none;
  color: #000;
  font-weight: 700;
}
.promo__link:hover {
  color: var(--brand-color);
}

.burger-btn {
  width: 36px;
  height: 21px;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
  display: flex;
  position: absolute;
  top: 20px;
  right: 30px;
}
.burger-btn .line:first-child,
.burger-btn .line:last-child {
  width: 30px;
  height: 3px;
  border-radius: 2px;
  flex-shrink: 0;
  background: rgb(21, 24, 18);
}
.burger-btn .line:nth-child(2) {
  width: 100%;
  height: 3px;
  border-radius: 2px;
  flex-shrink: 0;
  background: rgb(21, 24, 18);
}
