* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  @font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Thin.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  
  
  a {
    text-decoration: none;
  }
  
  :root {
    --brand-color: #ffa501;
  }
  
  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #000;
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    box-sizing: border-box;
  }
  body.menu-open {
    overflow: hidden;
  }
  
  .socials {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateX(-40%) rotate(-90deg);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
  }
  .socials__line {
    width: 70px;
    height: 0px;
    background-color: #000;
    margin: 10px 0;
    border: 2px solid rgb(0, 0, 0);
  }
  .socials__social-link {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .socials__social-link--github:hover svg path {
    fill: #fff;
  }
  .socials__social-link--instagram:hover svg path {
    fill: var(--brand-color);
  }
  .socials__social-link--facebook:hover svg path {
    fill: #0866ff;
  }
  @media (max-width: 1200px) {
    .socials {
      display: none;
    }
  }
  
  .main {
    display: flex;
    flex-direction: column;
    gap: 120px;
  }
  @media (max-width: 1024px) {
    .main {
      gap: 35px;
    }
  }
  
  h1 {
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    margin: 0;
  }
  @media (max-width: 1024px) {
    h1 {
      font-size: 26px;
      line-height: 39px;
    }
  }
  
  .title {
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    position: relative;
    z-index: 0;
  }
  .title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 60px;
    height: 3px;
    background-color: var(--brand-color);
    z-index: -1;
  }
  @media (max-width: 1024px) {
    .title {
      font-size: 24px;
      line-height: 36px;
    }
  }
  
  .subtitle {
    position: relative;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    z-index: 0;
  }
  
  .text {
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
  }
  
  span {
    position: relative;
    color: #000;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    z-index: 2;
  }
  
  .icon-bg {
    position: absolute;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: var(--brand-color);
    z-index: -1;
  }
  .icon-bg--small {
    width: 16px;
    height: 16px;
  }
  
  .icon-line {
    width: 2px;
    height: 100%;
    background-color: #000;
  }
  .icon-line--small {
    height: 2px;
    width: 42px;
  }
  
  .button {
    position: relative;
    background: var(--brand-color);
    border: none;
    padding: 12px 12px;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    z-index: 1;
    overflow: hidden;
    white-space: nowrap;
  }
  .button:hover span {
    color: var(--brand-color);
  }
  .button:hover::before {
    animation: scaleCircle 1s ease forwards;
  }
  .button:not(:hover) span {
    transition: 0.3s ease 0.5s;
  }
  .button:not(:hover)::before {
    animation: scaleDownCircle 1s ease forwards;
  }
  .button::before {
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 500px;
    background: #ffffff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -60px;
    transition: 1s ease forwards;
    z-index: 0;
  }
  @media (max-width: 1024px) {
    .button::before {
      width: 500px;
      height: 500px;
      left: 10%;
    }
  }
  
  .item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .item__icon {
    display: flex;
    position: relative;
    width: 60px;
    flex-shrink: 0;
    z-index: 0;
  }
  .item__icon svg {
    position: absolute;
    top: 15px;
    left: 15px;
  }
  .item__container {
    display: flex;
    flex-direction: column;
    width: 200px;
    gap: 5px;
  }
  .item__container--custom {
    flex-grow: 1;
  }
  .item__title {
    color: #000;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    text-align: left;
  }
  .item__text {
    color: #000;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
  }
  .item__header {
    display: flex;
    font-family: Montserrat;
    font-weight: 700;
  }
  

  .promo__content {
    width: 1140px;
    margin: auto auto;
    padding: 16px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    z-index: 0;
  }
  @media (max-width: 1024px) {
    .promo__content {
      padding: auto 10px;
    }
  }
  .promo__subtitle {
    margin-left: 10px;
    margin-left: 10px;
    margin-top: 6px;
  }
  .promo__row {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 20px;
  }
  .promo__link {
    font-family: Montserrat;
    cursor: pointer;
    text-decoration: none;
    color: #000;
    font-weight: 700;
  }
  .promo__link:hover {
    color: var(--brand-color);
  }
  .promo .burger-btn {
    width: 36px;
    height: 21px;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    display: flex;
    position: absolute;
    top: 20px;
    right: 30px;
  }
  .promo .burger-btn .line:first-child,
  .promo .burger-btn .line:last-child {
    width: 30px;
    height: 3px;
    border-radius: 2px;
    flex-shrink: 0;
    background: rgb(21, 24, 18);
  }
  .promo .burger-btn .line:nth-child(2) {
    width: 100%;
    height: 3px;
    border-radius: 2px;
    flex-shrink: 0;
    background: rgb(21, 24, 18);
  }
  
  .about {
    min-height: 100vh;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: auto;
  }
  .about__content {
    max-width: 1040px;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    gap: 70px;
  }
  @media (max-width: 1024px) {
    .about__content {
      flex-direction: column;
      gap: 20px;
      align-items: center;
      padding: 0 10px;
    }
  }
  .about__image {
    max-width: 400px;
    width: 100%;
    max-height: auto;
  }
  .about__image img {
    height: auto;
    -o-object-fit: cover;
    object-fit: cover;
    min-width: 100%;
  }
  @media (max-width: 1024px) {
    .about__image img {
      max-width: 100%;
      -o-object-position: center;
      object-position: center;
      -o-object-fit: cover;
      object-fit: cover;
      height: 340px;
    }
  }
  @media (max-width: 1024px) {
    .about__image {
      max-width: 300px;
      height: auto;
    }
  }
  .about__description {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 10px;
    position: relative;
    z-index: 0;
  }
  .about__subtitle {
    margin-left: 10px;
    margin-top: 6px;
  }
  .about__title {
    margin-bottom: 10px;
  }
  .about__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-gap: 20px;
    justify-items: center;
    margin-top: 20px;
    grid-auto-rows: 116px;
  }
  @media (max-width: 1024px) {
    .about__grid {
      grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
      grid-auto-rows: auto;
    }
  }
  
  .benefit {
    width: 100%;
    display: flex;
    justify-content: center;
    height: auto;
    position: relative;
  }
  .benefit__content {
    width: 1040px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 60px;
  }
  @media (max-width: 1024px) {
    .benefit__content {
      gap: 20px;
      align-items: center;
      padding: 0 10px;
    }
  }
  .benefit__header {
    position: relative;
    text-align: center;
  }
  .benefit__header .icon-bg {
    display: flex;
    left: 50%;
    top: 15%;
    transform: translate(-50%, -50%);
  }
  .benefit__title::after {
    content: "";
    display: flex;
    left: 50%;
    top: 120%;
    transform: translate(-50%, -50%);
  }
  .benefit__description {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    margin: 10px;
  }
  @media (max-width: 1024px) {
    .benefit__description {
      flex-direction: column;
    }
  }
  .benefit__column {
    display: flex;
    flex-direction: column;
    gap: 45px;
    position: relative;
    padding-left: 42px;
    z-index: 0;
  }
  .benefit__column h2 {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
  }
  .benefit__column .icon-line {
    position: absolute;
    top: 3px;
    left: 0;
  }
  .benefit__column .icon-line--small {
    left: -42px;
    top: 15px;
  }
  .benefit__column .icon-bg--small {
    position: absolute;
    top: 0;
    left: -7px;
    z-index: 1;
  }
  .benefit__item {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 375px;
    gap: 10px;
  }
  .benefit__item__container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
  }
  
  .contacts {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    width: 100%;
    justify-content: flex-start;
  }
  .contacts__content {
    max-width: 1040px;
    width: 100%;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    gap: 70px;
    justify-content: space-between;
    margin-bottom: 60px;
  }
  @media (max-width: 1024px) {
    .contacts__content {
      flex-direction: column;
      gap: 20px;
      padding: 0 10px;
    }
  }
  .contacts__image {
    height: 600px;
  }
  @media (max-width: 1024px) {
    .contacts__image {
      display: none;
    }
  }
  .contacts__description {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-grow: 1;
    justify-content: space-between;
  }
  .contacts__subtitle {
    margin-left: 10px;
    margin-top: 6px;
  }
  .contacts__socials {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  .contacts__socials a:hover {
    color: #ffa501;
  }
  .contacts p {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: left;
  }
  .contacts__form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 10px;
  }
  .contacts__form-row {
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: space-between;
  }
  @media (max-width: 1024px) {
    .contacts__form-row {
      flex-direction: column;
    }
  }
  .contacts__form-group {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    gap: 4px;
    box-sizing: border-box;
    border: 1px solid rgb(0, 0, 0);
    z-index: 0;
    flex-grow: 1;
  }
  .contacts__label {
    font-family: Montserrat;
    position: absolute;
    top: -9px;
    left: 12px;
    display: inline-block;
    padding: 0 8px;
    height: 18px;
    background: #fff;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
    z-index: 1;
  }
  .contacts__input {
    border: none;
    outline: none;
    font-size: 12px;
    line-height: 18px;
    background: transparent;
    color: #000;
  }
  .contacts__input::-moz-placeholder {
    color: #000;
  }
  .contacts__input::placeholder {
    color: #000;
  }
  .contacts__button {
    max-width: 219px;
  }
  @media (max-width: 1024px) {
    .contacts__button {
      margin: 0 auto;
    }
  }
  .contacts .contacts__input#message {
    height: 190px;
    vertical-align: top;
    text-align: left;
    resize: none;
  }
  .contacts__check-box {
    display: none;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    max-width: 180px;
    margin: 0 auto;
    font-size: 12px;
  }
  @media (max-width: 1024px) {
    .contacts__check-box {
      display: flex;
    }
  }
  .contacts__social-link--facebook:hover svg path {
    fill: #0866ff;
  }
  .contacts__social-link--telegram:hover svg path {
    fill: #3390ec;
  }
  .contacts__social-link--instagram:hover svg path {
    fill: var(--brand-color);
  }
  
  .error-message {
    font-family: Montserrat;
    color: red;
    font-size: 12px;
    position: absolute;
    bottom: -18px;
    left: 0;
    display: none;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.75);
    display: none;
    z-index: 1000;
  }
  .overlay.active {
    display: block;
  }
  .overlay .sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    background-color: var(--brand-color);
    display: flex;
    flex-direction: column;
    padding: 30px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
  }
  .overlay .sidebar__close-btn {
    align-self: flex-end;
    font-size: 24px;
    background: none;
    border: none;
    color: #000;
    cursor: pointer;
    position: relative;
    width: 29px;
  }
  .overlay .sidebar__close-btn .line:first-child {
    position: absolute;
    width: 30px;
    height: 3px;
    border-radius: 2px;
    flex-shrink: 0;
    background: rgb(21, 24, 18);
    rotate: 45deg;
    top: 50%;
    left: 50%;
  }
  .overlay .sidebar__close-btn .line:last-child {
    position: absolute;
    width: 30px;
    height: 3px;
    border-radius: 2px;
    flex-shrink: 0;
    background: rgb(21, 24, 18);
    rotate: -45deg;
    top: 50%;
    left: 50%;
  }
  .overlay .sidebar__menu {
    margin-top: 90px;
  }
  .overlay .sidebar__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .overlay .sidebar__item {
    margin-bottom: 20px;
    position: relative;
    display: flex;
    align-items: center;
  }
  .overlay .sidebar__item::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50%;
  }
  .overlay .sidebar__link {
    text-decoration: none;
    color: #fff;
    display: flex;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
    margin-left: 45px;
  }
  .overlay .sidebar__link:hover {
    color: #000;
  }
  .overlay .sidebar__socials {
    display: flex;
    justify-content: space-between;
    margin: auto auto 0 auto;
    gap: 15px;
  }
  .overlay .sidebar__social-link--github:hover svg path {
    fill: #fff;
  }
  .overlay .sidebar__social-link--instagram:hover {
    background: #000;
    height: 20px;
    border-radius: 3px;
  }
  .overlay .sidebar__social-link--instagram:hover svg path {
    fill: var(--brand-color);
  }
  .overlay .sidebar__social-link--facebook:hover svg path {
    fill: #0866ff;
  }
  .overlay .sidebar__social-link img {
    width: 24px;
    height: 24px;
  }
  
  @keyframes scaleCircle {
    from {
      width: 5px;
      height: 5px;
    }
    to {
      width: 300px;
      height: 300px;
    }
  }
  @keyframes scaleDownCircle {
    from {
      width: 300px;
      height: 300px;
    }
    to {
      width: 5px;
      height: 5px;
    }
  } 
  